*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
hr{
    width:90%;
    margin: auto;
    color: wheat;
}
.container{
    margin: 45px auto;
    display: flex;
    width:90%;
}
aside,main section{
    color: wheat;
    background-color: black;
    border: 1px solid wheat;
    margin-right:15px; 
    flex:3;
}

main{
    flex:7 ;
}
.image{
    width: 100%;
    height: auto;
}
.name{
    color:wheat;
    font-size: 2vw;
    margin: 5px;
}
.details,.skills{
    font-size: 1.2vw;
    padding: 25px;
    list-style: none;
    color: wheat;
}
.details li {
    margin: 15px 0;
}
.details li i{
    margin: 0 10px;
}


.head{
    color: wheat;
    padding: 30px;
    margin: 0px;
    font-size: 1.6vw;
}
.skills li{
    margin:18px 0px ;
}
.level1{
    border: 1px solid wheat;
    border-radius: 15px;
    height: 1.5px;
    margin-top: 15px;
    text-align:center;
}
.level{
    height: 100%;
    border-radius: 15px;
    background-color: wheat;
}